<script>
import { onMount } from "svelte";


    export let gloozes;

	let indexOrder = Array.from(gloozes.keys());

	const shuffleIndexOrder = () => {
		indexOrder = Array.from(gloozes.keys());

        // Shuffla shuffla
		for (let i = indexOrder.length - 1; i >= 1; i--) {
			const tmp = indexOrder[i];
			const j = Math.floor(Math.random() * (i + 1));
			indexOrder[i] = indexOrder[j];
			indexOrder[j] = tmp;
		}
	};

    let currentIndex = 0;
	$: currentGlooze = gloozes[indexOrder[currentIndex]];

	let answer = '';
	let answered = false;

    let wrongs = [];

	const restart = () => {
		currentIndex = 0;
		answer = '';
		answered = false;
	};

	const handleCheck = () => {
		answered = true;
        if (answer !== currentGlooze.answer) {
            wrongs.push(currentGlooze);
        }
	};

	const handleOkay = () => {
		if (answered) {
			currentIndex += 1;
			answered = false;
			answer = '';
		}
	};

    onMount(shuffleIndexOrder);
</script>

{#if currentGlooze !== undefined}
    <p>{currentGlooze.prompt}</p>
    <div>
        <form>
            <input bind:value={answer} autocorrect="off" autocapitalize="none" autocomplete="off">
            {#if answered}
                <input type="submit" on:click={handleOkay} value="😌">
            {:else}
                <input type="submit" on:click={handleCheck} value="👀">
            {/if}
        </form>
    </div>
    {#if answered}
        <div>
            <p>
                {#if answer === currentGlooze.answer}
                    👍
                {:else}
                    ❌
                {/if}<br>
                <em>{currentGlooze.prompt} &ndash; {currentGlooze.answer}</em>
            </p>
        </div>
    {/if}
{:else}
    {#if wrongs.length > 0}
        <p>💡</p>
        {#each wrongs as glooze}
            <p>{glooze.prompt} &ndash; {glooze.answer}</p>
        {/each}
    {:else}
        <p>✨ 🌟 ✨</p>
    {/if}
{/if}
