<script>
	import Answer from './Answer.svelte';
	import Compose from './Compose.svelte';

    export let title;
	export let gloozes;

	let mode = 'answering';

	const onCompose = () => {
		mode = 'composing';
	};
	
	const onSaveGloozes = () => {
        let titlePart = '';
        if (title != null && title.length > 0) {
            titlePart = title + '#';
            document.title = title + ' - Glooze';
        }
		let hash = '#' + titlePart + btoa(gloozes.map(g => g.prompt + '=' + g.answer).join('\0'));
		let fullUrl = window.location.protocol + '//' + window.location.host + window.location.pathname + hash;
		window.history.pushState({path: fullUrl}, '', fullUrl);
		mode = 'answering';
	};
</script>

<main>
	<h1>Glooze</h1>

	{#if mode === 'answering'}
		<Answer {gloozes} />
		<br><br>
		<button on:click={onCompose}>🖋</button>
	{:else if mode === 'composing'}
		<Compose bind:gloozes={gloozes} />
		<br><br>
        🔖 <input bind:value={title}><br>
		<button on:click={onSaveGloozes}>✔</button>
	{/if}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 100vw;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
