<script>
    export let gloozes = [];

    const add = () => {
        gloozes = [...gloozes, {prompt: '', answer: ''}];
    };
    const remove = (glooze) => {
        gloozes = gloozes.filter(g => g !== glooze);
    };
</script>

<style>
    table {
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        thead {
            display: none;
        }

        tr {
            margin-bottom: 1em;
        }

        td {
            display: flex;
        }

        td:nth-child(1)::before {
            content: "❓ ";
            width: 2em;
            min-width: 2em;
        }
        
        td:nth-child(2)::before {
            content: "❗ ";
            width: 2em;
            min-width: 2em;
        }

        td:last-child {
            float: right;
            margin-bottom: 2em;
        }
    }
</style>

<table>
    <thead>
        <tr>
            <th>❓</th>
            <th>❗</th>
            <th></th>
        </tr>
    </thead>
    {#each gloozes as glooze}
        <tr>
            <td><input bind:value={glooze.prompt}></td>
            <td><input bind:value={glooze.answer}></td>
            <td><button on:click={remove(glooze)}>🗑</button></td>
        </tr>
    {/each}
</table>
<button on:click={add}>+</button>
